.page-content-order
  %h1= t('order_title')
  %table.table.table-hover
    - @products_in_cart.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
  %h3
    .sum-total
      = t('total_sum_is')
      %b
        = @total_sum

  = button_to 'Send', send_mail_path, method: :post, class: 'btn btn-success'
  %br
  = link_to t('back'), cart_path, class: 'btn btn-default'
