.page-content-cart
  .page-header
    %h1= t('index.cart') 
    
    %table.table.table-hover
      - @products_in_cart.each do |product|
        %tr
          %td= product.name
          %td= product.description
          %td= product.price
          %td= link_to t('show'), product, class: 'btn btn-primary'
          %td= link_to t('edit'), edit_product_path(product), class: 'btn btn-warning'
          %td= link_to t('delete'), product, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
  %p
    = link_to t('order'), order_cart_path, method: :get, class: 'btn btn-success'
  %p
    = link_to t('back'), products_path, class: 'btn btn-default'

