.page-content-cart
  .page-header
    %h1= "Cart of #{Cart.find(params[:id]).account.name}"
    
    %table.table.table-hover
      - @cart.products.each do |product|
        %tr
          %td= product.name
          %td= product.description
          %td= product.price
          %td= link_to 'Show', product, class: 'btn btn-primary'
          %td= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning'
          %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
  %br
  = link_to 'Back', accounts_path, class: 'btn btn-default'

