.index-products
  .header
    = link_to image_tag('shopping_cart_racing.png', size:"40x40"), products_path
    %h1= 'Products list'

  %table.table.table-hover
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
        %td= button_to 'Add to cart', add_to_cart_path(product_id: product.id), remote: true, class: 'btn btn-success'
        %td= link_to 'Show', product, class: 'btn btn-primary'
        %td= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning'
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
  %br
  = link_to 'Create new product', new_product_path, class: 'btn btn-default'
  = link_to 'All accounts', accounts_path, class: 'btn btn-info'
