.page-content
  .page-header
    %h1= @product.name
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %b
          = Product.human_attribute_name(:description)
    .panel-body
      = @product.description
  %ul.list-group
    %li.list-group-item
      %span.badge
        = @product.price
      %b
        = Product.human_attribute_name(:price)
  = link_to t('back'), products_path, class: 'btn btn-default'
  = link_to t('delete'), @product, method: :delete, class: 'btn btn-danger'


 
