!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsYevtushenko
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value

      =link_to 'EN', '?locale=en'
      =link_to 'UA', '?locale=ua'
      =link_to 'DE', '?locale=de'
              
      = yield
