.account-new
  = form_for(@account) do |f|
    = if @account.errors.any?
      %div#error_explanation
        %h2
          = pluralize(@account.errors.count, "error")
          "prohibited this account from being saved:"

          %ul
            - @account.errors.full_messages.each do |message|
              %li
                = message
    .form-group
      = f.label :name
      %br
      = f.text_field :name
    .form-group
      = f.label :age
      %br
      = f.text_field :age
    .actions
      = f.submit
