.page-content-accounts
  %h1
    =t('index.title')
    =image_tag "https://media.giphy.com/media/3o7ablBxBULsBGyeCA/giphy.gif" 

  %table.table.table-hover
    %thead
      %tr
        %th= Account.human_attribute_name(:name)
        %th= Account.human_attribute_name(:age)
        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.name
              %td= account.age
              %td= link_to t('show'), account, class: 'btn btn-primary'
              %td= link_to t('edit'), edit_account_path(account), class: 'btn btn-warning'
              %td= link_to t('delete'), account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
              %br

  = link_to t('new_account'), new_account_path, class: 'btn btn-success'
  = link_to t('all_products'), products_path, class: 'btn btn-success'
