.page-content-accounts
  %h1
    = "Details of #{@account.name}"
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %b
          = Account.human_attribute_name(:name)
    .panel-body
      = @account.name
    .panel-heading
      %h3.panel-title
        %b
          = Account.human_attribute_name(:age)
    .panel-body
      = @account.age


  /= link_to 'Cart', cart
  = link_to 'Back', accounts_path, class: "btn btn-success"
  |
  = link_to 'Edit', edit_account_path(@account), class: "btn btn-success"
  |
  = link_to 'Cart', cart_path(@account.id), class: 'btn btn-default'
